@font-face {
  font-family: Inter;
  src: url("../src/fonts/Montserrat-Black.ttf");
  font-weight: 100;
}

@font-face {
  font-family: Inter;
  src: url("../src/fonts/Montserrat-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: Inter;
  src: url("../src/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Inter;
  src: url("../src/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("../src/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url("../src/fonts/Montserrat-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Inter;
  src: url("../src/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("../src/fonts/Montserrat-SemiBold.ttf");
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 94%;
}

:root {
  --pod: #f4f4f4;
  --main: #a00d25;
  --input: #f5f7fa;
  --text_gray: #5e5c5c;
  --gray: #8c8c8c;
  --black: #000;
  --white: #fff;
  --red: #ee0462;
  --graysh: #969696;
}
